volumes:
  pgdata:

services:

  nginx:
    image: nginx:1.29
    container_name: nginx
    restart: unless-stopped
    ports:
      - '80:80'
    volumes:
      - ./static_production/:/var/html/static/
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
  

  postgres:
    image: postgres:18.1-alpine
    container_name: db
    restart: unless-stopped
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data/
    env_file:
      - ./.env