<div class="card border-info border-2 mb-4 bg-light">
    <div class="card-header bg-transparent border-info">Выход судна: {{ rate.etds }}</div>
    <div class="card-body text-dark">
        <h5 class="card-title">Линия: {{ rate.carrier }}</h5>
        <p class="card-text">FOB {{ rate.sea_rate }}, $: {{ rate.sea_price|floatformat:"2g" }} </p>
    </div>
    <div class="card-footer bg-transparent border-info">
        FOR {{ rate.rr_rate }}, ₽: {{ rate.rr_price|floatformat:"2g" }} {% if with_guard %}<br>Охрана, ₽: {{ rate.guard }}{% endif %}
    </div>
    <div class="card-footer bg-transparent border-info">
        Раскредитация, ₽: {{ rate.station|floatformat:"2g" }} Автовывоз по городу, ₽: 
        {% if rate.local_truck %}
            {{ rate.local_truck|floatformat:"2g" }}
        {% else %}
            по запросу
        {% endif %}
    </div>
</div>