{% load django_htmx %}
<!DOCTYPE>
<html lang="ru">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="description" content="Калькулятор путей международной доставки">
        <title>Straight Way pathfinder</title>
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% htmx_script %}
    </head>

    <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>        
        {% include 'includes/header.html' %}
        <div class="container pt-5">
            {% block content %}{% endblock %}
        </div>
        <footer></footer>
    </body>
</html>