{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<main class="row">
    <div class="col-md-6 mx-auto">
        <div class="mb-5">
            {% for rate in rates %}
                ${{ rate.sea_rate.rate }} до {{ rate.sea_rate.sea_end_terminal }} + <br>
                {{ rate.inner_rr_rate.rate }}₽ {{ rate.inner_rr_rate.start_terminal }} - {{ rate.inner_rr_rate.end_terminal }}
            {% endfor %}
        </div>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Посчитать" button_class="btn-info w-100" %}
        </form>

        {% if form.is_valid %}
            <p>Самый дешевый вариант: 
                {% for etd in form.instance.cheapest.etd.all %}
                    {{ etd }}
                {% endfor %}
                ${{ form.instance.cheapest.rate }}
                {{ form.instance.cheapest.sea_line }}
            </p>

            <p>Самый быстрый вариант: 
                {% for etd in form.instance.fastest.etd.all %}
                    {{ etd }}
                {% endfor %}
                ${{ form.instance.fastest.rate }}
                {{ form.instance.fastest.sea_line }}
            </p>
        {% endif %}
    </div>
</main>
{% endblock content %}