{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<main class="row">
    <div class="col-md-6 mx-auto">
        {% if form.is_valid %}

        {% if direct_sea_rates %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title text-success">Прямое море</h5>
                    <p class="card-text"><ul>{% for rate in direct_sea_rates %}<li>{{ rate }} + автовывоз {{ rate.truck }} ₽{% endfor %}</li></ul></p>
                </div>
            </div>
        {% endif %}

        {% if sea_truck %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title text-success">Прямое море с автовывозом в другой город</h5>
                    <p class="card-text"><ul>{% for rate in sea_truck %}<li>{{ rate.0 }} + {{ rate.1 }}{% endfor %}</li></ul></p>
                </div>
            </div>
        {% endif %}

        {% if line_rates %}
            <div class="card mb-2">
                <div class="card-body">{
                    <h5 class="card-title text-success">Линейные ставки Море + ЖД</h5>
                    
                    <p class="card-text"><ul>
                        {% for rate in line_rates %}
                            <li>
                                Море, $: {% if container == '20DC' %}{{ rate.0.rate_20 }}{% else %}{{ rate.0.rate_40 }}{% endif %}<br>{{ rate.0 }}
                                <br>
                                ЖД, ₽:
                                {% if container == '20DC' %}
                                    {% if gross <= 24000 %}{{ rate.1.rate_20_24 }}{% else %}{{ rate.1.rate_20_28}}{% endif %}
                                    Прием по станции:
                                    {% if is_vtt %}{{ rate.1.end_terminal.vtt_20 }}{% else %}{{ rate.1.end_terminal.gtd_20 }}{% endif %}
                                {% else %}
                                    {{ rate.1.rate_40 }}
                                    Прием по станции:
                                    {% if is_vtt %}{{ rate.1.end_terminal.vtt_40 }}{% else %}{{ rate.1.end_terminal.gtd_40 }}{% endif %}
                                {% endif %}
                            {{ rate.1 }}
                            </li>
                        {% endfor %}
                    </ul></p>
                </div>
            </div>
        {% endif %}

        {% if line_sea_rr_truck %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title text-success">Линейные ставки Море + ЖД с автовывозом в другой город</h5>
                    <p class="card-text"><ul>
                        {% for rate in line_sea_rr_truck %}
                            <li>{{ rate.0 }} + {{ rate.1 }} + {{ rate.2 }} ₽</li>
                        {% endfor %}
                    </ul></p>
                </div>
            </div>
        {% endif %}

        {% if agent_rates %}
        <h5 class="text-primary">Агентские ставки на Море + ЖД</h5>
            {% for rate in agent_rates %}
                <div class="card border-info text-dark bg-light mb-2">
                    <div class="card-header"></div>
                        <div class="card-body">
                            <div class="card-text">
                           
                                Море, $: {{ rate.sea_price }} {{ rate.sea_rate }}
                               <div class="bg-transparent border-info">
                                    ЖД, ₽:
                                    {% if container == '20DC' %}
                                        {{ rate.rr_price }}
                                        Прием по станции:
                                        {% if is_vtt %}{{ rate.rr_rate.end_terminal.vtt_20 }}{% else %}{{ rate.rr_rate.end_terminal.gtd_20 }}{% endif %}
                                    {% else %}
                                        {{ rate.rr_rate.rate_40 }}
                                        Прием по станции:
                                        {% if is_vtt %}{{ rate.rr_rate.end_terminal.vtt_40 }}{% else %}{{ rate.rr_rate.end_terminal.gtd_40 }}{% endif %}
                                    {% endif %}
                                    
                                    {{ rate.rr_rate }}
                                    <div class="card border-success mb-3" style="max-width: 18rem;">
                                        <div class="card-header bg-transparent border-success">Выход судна: {{ rate.etds }}</div>
                                        <div class="card-body text-success">
                                            <h5 class="card-title">Success card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                        <div class="card-footer bg-transparent border-success">Footer</div>
                                    </div>
                                </div>
                       </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% if agent_sea_rr_truck %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title text-success">Агентские ставки на море + ЖД с автовывозом в другой город</h5>
                    <p class="card-text"><ul>
                        {% for rate in agent_sea_rr_truck %}<li>{{ rate.0 }} + {{ rate.1 }} + {{ rate.2 }}</li>{% endfor %}
                    </ul></p>
                </div>
            </div>
        {% endif %}
            
        {% endif %}
        
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% bootstrap_button button_type="submit" content="Посчитать" button_class="btn-info w-100" %}
        </form>
    </div>
</main>
{% endblock content %}